// 1. you can attach a unique class to another
// within the stylesheet by extending it like so:
// .primary-btn:extend(.classname)

//2. creating variables with the @ sign as a 
// stand-in for certain elements such as color.

// 3. mixins: creating an entire class with a broad
// range of elements and attaching it to other
// classes.

// 4. mixins with parameters: creating a class with
// variable placeholders to insert customized data
// .border-radius(@radius) {
    // border-radius: @radius
// }

// and now we can attach this to another class - 
// .btn {
// .border-radius(10px);

// 5. nesting elements
// ul#menu {
//    li {
//      }
// }

// 6. attaching selectors inside nested elements
// by using ampersand &:hover

// 7. you can add other functions to classes
// such as color operators like
// darken(insert color here, what %);

// 8. auto updating mixin with condition
// .text-color(@a) when (lightness(@a) >= 50%) {
// color: black;

@dark-blue: hsl(217,19%, 35%);
@lighter-blue: hsl(214,17%, 51%);
@shadeof-blue: hsl(210, 46%, 95%);

@Font-family: "Manrope", sans-serif;
@Font-size: 13px;

html {
    box-sizing: border-box;
    // font-style: 100%;
    font-size: 62.5%;
}

* {
    box-sizing: inherit;
}

body {
    font-family: @Font-family;
    font-size: @Font-size;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: @shadeof-blue;
    color: @lighter-blue;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    // min-width: 378px;
    @media (min-width: 760px) {
        margin: calc(50vh - 20em) 0;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 6rem 3rem; 
    background-clip: padding-box;
    width: 32rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 9px 7px 50px -5px rgba(0,0,0,0.20);
    & > img {
        height: auto;
        border-radius: 0.5rem 0.5rem 0 0;
    }
    @media (min-width: 760px) {
        width: auto;
        margin-top: 10rem;
        & > img {
            border-radius: 0.5rem 0 0 0.5rem;
        }
    }
}

.container {
    width: 40rem;
    margin-top: -3em;
    padding-top: 2.4em;
    @media (min-width: 760px) {
        width: 55rem;
        margin: 1rem;
        padding-top: 1rem;
        margin-left: .5rem;
    }
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5;
    color: @dark-blue;
    padding: 0 4rem 0;
    @media (min-width: 760px) {
        font-size: 2.5rem;
    }
}

p {
    line-height: 1.5;
    font-size: 1.5rem;
    padding: 0 4.5rem 0;
    @media (min-width: 760px) {
        font-size: 1.4rem;
    }
}

.profile {
    display: flex;
    font-size: 1.2rem;
    margin: 0;
    margin-top: 3.4rem;
    padding: 0 3.4rem 2.4rem;
    gap: 1rem;
    @media (min-width: 760px) {
        padding-right: 5rem;
        padding-bottom: 5rem;
    }
    .avatar {
        order: 0;
        border-radius: 50%;
    }
    .share-btn {
        order: 2;
        position: relative;
        background-color: @shadeof-blue;
        align-items: center;
        cursor: pointer;
        padding: 1rem;
        border-radius: 50%;
        &:focus, &:hover {
            background-color: darken(@shadeof-blue, 10%);
        }

    }
    figcaption {
        order: 1;
        margin-right: auto;
    }

    .name {
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 1.5px;
    }
}

.links {
    display: none;
    // display: flex;
    gap: 1.5rem;
    background-color: @dark-blue;
    padding: 2rem 3rem;
    margin: 0;
    margin-top: -8rem;
    cursor: pointer;
    border-radius: 0 0 1rem 1rem;
    @media (min-width: 760px) {
        align-items: center;
        position: relative;
        width: 26rem;
        height: 5rem;
        left: 38rem;
        bottom: 8.5rem;
        border-radius: 1rem;
        .link {
            position: relative;
        }
        &:before {
            content: '';
            position: absolute;
            left: 8rem;
            top: 2rem;
            background-color: @dark-blue;
            // text-align: center;
            width: 4rem;
            height: 4rem;
            transform: rotate(45deg);
        }
    }
    figcaption {
        position: relative;
        text-transform: uppercase;
        letter-spacing: .7rem;
        order: -1;
    }
}